
<h1>Tasks</h1>


<br>

<div class="row">
  <% @tasks.each do |task| %>
    <div class="col-sm-12 col-md-4">
      <div class="card text-white bg-primary">
      <h3><%= task.name %></h3>

        <div class="thumbnail">
          <img class="img-responsive img-rounded" src= '<%= asset_path "#{task.photo}"%> '>
          <small><%= time_ago_in_words(task.created_at) %> ago</small>
          <br>
          <p><%= link_to 'Detalle', task, class: "btn btn-primary" %> </p>
          <%= link_to 'Completar', tasks_user_path(current_user.id), class: "btn btn-success" %>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>
